<phpunit
	bootstrap="ci/tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="tests">
			<directory prefix="test-" suffix=".php">./ci/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
