.testimonialswidget_testimonials {
	/* testimonials wrapper */
}

.testimonialswidget_testimonial {
	clear: left;
	display: none;
	margin: 0 0 1.4em;
}

.testimonialswidget_testimonials .active {
	/* active testimonials */
	display: block;
}

.testimonialswidget_testimonials .display_none {
	/* staged testimonials */
	display: none;
}

.testimonialswidget_testimonials .paging {
	clear: both;
	font-weight: 700;
	height: 1.4em;
}

.testimonialswidget_testimonial.list,
.testimonialswidget_testimonial.single {
	display: block;
}

.testimonialswidget_testimonial .image {
	float: left;
	margin-bottom: .4em;
	margin-right: .2em;
}

.widget .testimonialswidget_testimonial .image {
	display: block;
	float: initial;
}

.testimonialswidget_testimonial q,
.testimonialswidget_testimonial blockquote {
	/* the testimonial itself */
	quotes: none;
}

.testimonialswidget_testimonial .open_quote {
	*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '“' );
}

.testimonialswidget_testimonial .open_quote:before {
		content: '\201C';
}

.testimonialswidget_testimonial .close_quote {
	*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '”' );
}

.testimonialswidget_testimonial .close_quote:after {
		content: '\201D';
}

.testimonialswidget_testimonial cite,
.testimonialswidget_testimonial div.credit {
	/* outer wrapper for source & company */
	display: block; /* To display source and company on a new line */
	margin-top: .2em;
	text-align: right;
}

.widget .testimonialswidget_testimonial cite,
.widget .testimonialswidget_testimonial div.credit {
	margin-top: .8em;
}

.widget .testimonialswidget_testimonial .whitespace cite,
.widget .whitespace cite,
.widget .testimonialswidget_testimonial .whitespace div.credit,
.widget .whitespace div.credit {
	margin-top: .2em;
}

.testimonialswidget_testimonial cite:before,
.testimonialswidget_testimonial div.credit:before {
	content: "– "
}

.testimonialswidget_testimonial .join_title,
.testimonialswidget_testimonial .join_location,
.testimonialswidget_testimonial .join {
	/* section between source and company information */
	*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = ', ' );
}

.testimonialswidget_testimonial .join_title:before,
.testimonialswidget_testimonial .join_location:before,
.testimonialswidget_testimonial .join:before {
	/* join text */
	content: ", "
}

.testimonialswidget_testimonial .author,
.testimonialswidget_testimonial .email,
.testimonialswidget_testimonial .title,
.testimonialswidget_testimonial .location,
.testimonialswidget_testimonial .company,
.testimonialswidget_testimonial .url {
	/* testimonial title, company and url informaiton */
}

.testimonialswidget_testimonial .extra {
	margin-top: .8em;
}

.testimonialswidget_testimonial .bottom_text {
	margin-top: 1.4em;
}
