.testimonialswidget_testimonials {
	/* testimonials wrapper */
}

.testimonialswidget_testimonials .testimonialswidget_active {
	/* active testimonials */
	display: block;
}

.testimonialswidget_testimonials .testimonialswidget_display_none {
	/* staged testimonials */
	display: none;
}

.testimonialswidget_paging {
	clear: both;
	font-weight: 700;
	height: 1.4em;
}

.testimonialswidget_testimonial {
	clear: left;
	display: none;
	margin: 0 0 1.4em;
}

.testimonialswidget_testimonial .testimonialswidget_image {
	float: left;
	margin-bottom: 1.4em;
	margin-right: .2em;
}

.widget .testimonialswidget_testimonial .testimonialswidget_image {
	display: block;
	float: initial;
}

.testimonialswidget_testimonial q {
	/* the testimonial itself */
	/* Remove quotes by uncommenting the following */
	/*
	quotes: none;
	*/
}

.widget .testimonialswidget_testimonial q p {
	display: inline;
}

.testimonialswidget_testimonial cite {
	/* outer wrapper for source & company */
	display: block; /* To display source and company on a new line */
	margin-top: .2em;
	text-align: right;
}

.testimonialswidget_testimonial cite:before {
	content: "– "
}

.testimonialswidget_testimonial .testimonialswidget_source {
	/* testimonial source */
}

.testimonialswidget_testimonial .testimonialswidget_join_title,
.testimonialswidget_testimonial .testimonialswidget_join {
	/* section between source and company information */
}

.testimonialswidget_testimonial .testimonialswidget_join_title:before,
.testimonialswidget_testimonial .testimonialswidget_join:before {
	/* join text */
	content: ", "
}

.testimonialswidget_testimonial .testimonialswidget_title,
.testimonialswidget_testimonial .testimonialswidget_company,
.testimonialswidget_testimonial .testimonialswidget_url {
	/* testimonial title, company and url informaiton */
}

.testimonialswidget_testimonial .testimonialswidget_extra {
	margin-top: .8em;
}

.testimonialswidget_testimonial .testimonialswidget_widget_text {
	margin-top: 1.4em;
}

.testimonialswidget_testimonials_list  {
	/* testimonials list wrapper */
}

.testimonialswidget_testimonial_list {
	display: block;
	margin-bottom: 1.4em;
}
